@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg-base: #16171d;
  --bg-surface: #1c1a22;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #aa9ce2;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --white: #f6f4f2;
  --pink: #c27aae;
  --purple: #aa9ce2;
  --blue: #8cedfa;
  --green: #67b27a;
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  line-height: 145%;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100svh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
